<% if user_signed_in? %>
  <div class="actions">
    <div class="row">
      <div class="col-xs-6 like">
        <%= render 'likes/form', likeable: resource %>
      </div>
      <div class="col-xs-6 comment">
        <button type="button" class="btn btn-block" data-toggle="collapse" data-target="#comment-form-<%= resource.id %>">
          <%= fa_icon 'comment' %> comment
        </button>        
      </div>
    </div>
  </div>
<% end %>